 <div class="row vpage  d-flex justify-content-center " id="about" >
       <div class="col-md-6 col-12 order-md-1 order-0  d-flex justify-content-center align-items-start flex-column  ">
 <h1 class="about" >WE WILL HELP U TO </h1>
 <h1 class="about">GROW YOUR BUSINESS</h1>
 <p>We are The Team of <span class="bold-style">Professional Developer</span></p>
 <button class="aboutbtn btn btn-style btn-primary">Read more</button>
 </div>
 {{!-- right side --}}
  <div class="col-md-6 col-12 order-md-0 order-1 ">
<figure>
    <img src="./images/about.jpg" alt="img" class="img"  >
</figure>
 </div>
  </div>
 </div>
 </div>
  </div>
  
      