 
      <div class="row vpage home3 d-flex justify-content-center   ">
          <div class="col-md-4 service_items" id="settings"> 
              <h4>Settings</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi. Delectus, distinctio deleniti? Delectus, hic.</p>
                </div>
          <div class="col-md-4 service_items" id="speedup">
              <h4>SpeedUp</h4> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi. Delectus, distinctio deleniti? Delectus, hic.</p>
              
               </div>
          <div class="col-md-4 service_items" id="privacy">
              <h4>Privacy</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi. Delectus, distinctio deleniti? Delectus, hic.</p>

          </div>
          <div class="col-md-4 service_items" id="backups"><h4>Backups</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi. Delectus, distinctio deleniti? Delectus, hic.</p>
          
          </div>
          <div class="col-md-4 service_items" id="secured"> <h4>SSL Secured</h4> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi. Delectus, distinctio deleniti? Delectus, hic.</p>
          
          </div>
          <div class="col-md-4 service_items" id="database"> <h4>Database</h4> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, commodi. Delectus, distinctio deleniti? Delectus, hic.</p>
          
          </div>
      </div>
 